* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {

  background-color: #000000;
}
section {
  color: white;
  margin-left: 5.6rem;
  margin-right: 5.6rem;
  background-color: #272727;

}
header {
  justify-content: space-between;
  display: flex;
  height: 5.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}
.logo_name {
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 3.5rem;
  margin-top: 17px;
}
.scr {
  border: none;
  width: 43rem;
}
.log_reg {
  color: white;
}
.geo {
  color: white;
}
.corzina {
  color: white;
  margin-right: 3.5rem;
}
.pal {
  color: #414040;
}
.btn {
  background-color: #7a0000;
  border: none;
  height: 2.3rem;
  width: 2.6rem;
}
.search {
  display: inline-flex;
  overflow: hidden;
  margin-top: 0.6rem;
}
.reg {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
}
.log {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
}
.reglog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.cab {
  font-size: 1rem;
}
.msc {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.number {
  font-size: 1rem;
}
.corz {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
}
.rubl {
  font-size: 1rem;
}
nav {
  display: flex;
  gap: 3.4rem;
  margin-left: 5.7rem;
  height: 1.3rem;
}
.alco {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Inter";
  font-weight: 500;
}
.t1 {
  width: 30rem;
  height: 5rem;
  margin-top: 5rem;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}
.t2 {
  width: 36rem;
  height: 15rem;
  font-family: "Inter";
  margin-top: 1.5rem;
}
.t22 {
  width: 36rem;
  margin-top: -8rem;
  font-family: "Inter";
}
.img67 {
  height: 20rem;
  margin-top: 5rem;
}
.shardone {
  margin-left: 5.6rem;
  display: flex;
  margin-top: 0.2rem;
  justify-content: space-between;
}

.nlt {
  font-size: 1.2rem;
  margin-left: 5.6rem;
  font-weight: 700;
  font-family: "Inter";
}
.newli {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;

}
.textlt {
  font-size: 1rem;
  margin-right: 4.5rem;
  width: 45.9rem;
  height: 30rem;
  font-family: "Inter";
  display: grid;
  gap: 1rem;
}
.vinis {
  margin-left: 15rem;
  margin-right: 15rem;
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-top: 7rem;
  align-items: center;
}
.vina {
  position: relative;
}
.lermite {
  position: absolute;
  left: 4rem;
  bottom: 1rem;
}
.lerm {
  width: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}
.litr {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}
.flag_geo {
  display: flex;
  margin-bottom: 0.5rem;
}
.geo {
  font-size: 0.7rem;
}
.censht {
  font-size: 0.5rem;
}
.pric {
  font-size: 1.2rem;
}
.basket {
  text-decoration: none;
  color: white;
  background-color: #7a0000;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.price {
  margin-right: 2rem;
}
.pric_carz {
  display: flex;
}
.smal{
  margin-left: 19.5rem;
  margin-top: 4rem;
  display: flex;

}
.ts{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-family: "Inter";
  letter-spacing: 0.3rem;
  
}
.tire{
  margin-left: 2rem;
  margin-top: -0.5rem;
}
.shablbl{
  display: flex;
  justify-content: space-between;
    margin-top: 8.5rem;
    margin-left: 5.6rem;
    font-family: "Inter";
}
.zagsh{
  font-size: 1.5rem;
}
.txshb{
  margin-left: 39.75rem;
  margin-right: 2.75rem;
  width: 50rem;
  display: grid;
  gap: 1rem;
  font-family: "Inter";
}
.Wi{
  font-family: "Alex Brush";
  color: #fafafa;
  /* z-index:initial; */
}
.odc{
  width: 40.125rem;
  height: 18.25rem;
  gap: 1rem;
  /* filter: brightness(44%); */
  backdrop-filter: 44%;
}


.itogi{
  font-size: 1.5rem;
  color: #fafafa;
}
.txitg{
  margin-left: 39.75rem;
  margin-right: 2.75rem;
  width: 50rem;
  display: grid;
  gap: 4rem;
  font-family: "Inter";
}
.itg{
    display: flex;
  justify-content: space-between;
    margin-top: 7.813rem;
    margin-left: 5.6rem;
    font-family: "Inter";
}
.stats{
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 9.5rem;

}
.Wi{
  font-size: 3rem;
  margin-left: -23rem;
  color: white;
}
.txst{
  font-family: "Inter";
  font-size: 2rem;
  width: 25rem;
  margin-left: -29rem;
  margin-top: 3rem;
}
.txstt{
  font-family: "Inter";
  font-size: 2rem;
  width: 25rem;
  margin-left: -30.5rem;

}
.readst{
  font-family: "Inter";
  letter-spacing: 0.3rem;
  margin-left: -25.5rem;
  margin-top: 3rem;
}
.txsta{
  font-family: "Inter";
  font-size: 2rem;
  width: 30rem;
  margin-left: -30rem;
  margin-top: 3rem;
}
.txstaa{
  font-family: "Inter";
  font-size: 2rem;
  width: 30rem;
  margin-left: -34rem;

}
.foot{
  width: 80.6rem;
  margin-top: 7.8rem;
  background-color: #000000;

}
.fsub{
  font-family: "Inter";
  margin-top: 1.9rem;
  margin-left: 2.8rem;
  display: grid;
  gap: 4rem;
  letter-spacing: 0.3rem
}
.fem{
  font-family: "Roboto";
  color: #FFFFFF;
  letter-spacing: 0.3rem;
  margin-top: 1.1rem;
  margin-left: 2.8rem;
}
.finp{
  height: 2.2rem;
  width: 24.5rem;
  margin-left: 2.8rem;
  margin-top: 0.5rem;
  border: none;

}
.ficons{
  margin-left: 2.8rem;
  display: flex;
  gap: 5.1rem;
  margin-top: 3rem;
}
.fotp{
  font-family: "Inter";
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
}
.cnop{
  width: 10.75rem;
  height: 2rem;
  background-color: #7a0000;
  margin-top: 1.5rem;
  margin-left: 2.8rem;
}
.footer{
  display: flex;
  justify-content: center;
  padding-bottom: 4.1rem;

}
.pod{
  width: 80rem;
  height: 17.8rem;
  margin-top: 7.8rem;
  background-color: #000000;
}


.links{

  display: flex;
  justify-content:left;
  gap: 13.1rem;

  margin-left: 2.8rem;
}
.shoph{
  font-family: "Inter";
  font-weight: bold;
}
.ssi{
  margin-top: 1.5rem;
  font-weight:normal;

}
.pl{
  font-weight: normal;
  margin-top: 3rem;
  display: flex;
  justify-content: left;
  gap: 12.5rem;
  font-family: "Inter";
  margin-left: 2.8rem;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
}

section {
  color: white;
  margin-left: 5.6rem;
  margin-right: 5.6rem;
  background-color: #272727;
}

header {
  justify-content: space-between;
  display: flex;
  height: 5.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.logo_name {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 3.5rem;
  margin-top: 17px;
}

.scr {
  border: none;
  width: 43rem;
}

.log_reg {
  color: white;
}

.geo {
  color: white;
}

.corzina {
  color: white;
  margin-right: 3.5rem;
}

.pal {
  color: #414040;
}

.btn {
  background-color: #7a0000;
  border: none;
  height: 2.3rem;
  width: 2.6rem;
}

.search {
  display: inline-flex;
  overflow: hidden;
  margin-top: 0.6rem;
}

.reg {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
}

.log {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
}

.reglog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.cab {
  font-size: 1rem;
}

.msc {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.number {
  font-size: 1rem;
}

.corz {
  color: #fafafa;
  opacity: 65%;
  font-size: 0.8rem;
}

.rubl {
  font-size: 1rem;
}

nav {
  display: flex;
  gap: 3.4rem;
  margin-left: 5.7rem;
  height: 1.3rem;
}

.alco {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Inter";
  font-weight: 500;
}

.t1 {
  width: 30rem;
  height: 5rem;
  margin-top: 5rem;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}

.t2 {
  width: 36rem;
  height: 15rem;
  font-family: "Inter";
  margin-top: 1.5rem;
}

.t22 {
  width: 36rem;
  margin-top: -8rem;
  font-family: "Inter";
}

.img67 {
  height: 20rem;
  margin-top: 5rem;
}

.shardone {
  margin-left: 5.6rem;
  display: flex;
  margin-top: 0.2rem;
  justify-content: space-between;
}

.nlt {
  font-size: 1.2rem;
  margin-left: 5.6rem;
  font-weight: 700;
  font-family: "Inter";
}

.newli {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.textlt {
  font-size: 1rem;
  margin-right: 4.5rem;
  width: 45.9rem;
  height: 30rem;
  font-family: "Inter";
  display: grid;
  gap: 1rem;
}

.vinis {
  margin-left: 15rem;
  margin-right: 15rem;
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-top: 7rem;
  align-items: center;
}

.vina {
  position: relative;
}

.lermite {
  position: absolute;
  left: 4rem;
  bottom: 1rem;
}

.lerm {
  width: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}

.litr {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}

.flag_geo {
  display: flex;
  margin-bottom: 0.5rem;
}

.geo {
  font-size: 0.7rem;
}

.censht {
  font-size: 0.5rem;
}

.pric {
  font-size: 1.2rem;
}

.basket {
  text-decoration: none;
  color: white;
  background-color: #7a0000;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.price {
  margin-right: 2rem;
}

.pric_carz {
  display: flex;
}

.smal {
  margin-left: 19.5rem;
  margin-top: 4rem;
  display: flex;
}

.ts {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-family: "Inter";
  letter-spacing: 0.3rem;
}

.tire {
  margin-left: 2rem;
  margin-top: -0.5rem;
}

.shablbl {
  display: flex;
  justify-content: space-between;
  margin-top: 8.5rem;
  margin-left: 5.6rem;
  font-family: "Inter";
}

.zagsh {
  font-size: 1.5rem;
}

.txshb {
  margin-left: 39.75rem;
  margin-right: 2.75rem;
  width: 50rem;
  display: grid;
  gap: 1rem;
  font-family: "Inter";
}

.Wi {
  font-family: "Alex Brush";
  color: #fafafa;
}

.odc {
  width: 40.125rem;
  height: 18.25rem;
  gap: 1rem;
  backdrop-filter: 44%;
}

.itogi {
  font-size: 1.5rem;
  color: #fafafa;
}

.txitg {
  margin-left: 39.75rem;
  margin-right: 2.75rem;
  width: 50rem;
  display: grid;
  gap: 4rem;
  font-family: "Inter";
}

.itg {
  display: flex;
  justify-content: space-between;
  margin-top: 7.813rem;
  margin-left: 5.6rem;
  font-family: "Inter";
}

.stats {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 9.5rem;
}

.Wi {
  font-size: 3rem;
  margin-left: -23rem;
  color: white;
}

.txst {
  font-family: "Inter";
  font-size: 2rem;
  width: 25rem;
  margin-left: -29rem;
  margin-top: 3rem;
}

.txstt {
  font-family: "Inter";
  font-size: 2rem;
  width: 25rem;
  margin-left: -30.5rem;
}

.readst {
  font-family: "Inter";
  letter-spacing: 0.3rem;
  margin-left: -25.5rem;
  margin-top: 3rem;
}

.txsta {
  font-family: "Inter";
  font-size: 2rem;
  width: 30rem;
  margin-left: -30rem;
  margin-top: 3rem;
}

.txstaa {
  font-family: "Inter";
  font-size: 2rem;
  width: 30rem;
  margin-left: -34rem;
}

.foot {
  width: 80.6rem;
  margin-top: 7.8rem;
  background-color: #000000;
}

.fsub {
  font-family: "Inter";
  margin-top: 1.9rem;
  margin-left: 2.8rem;
  display: grid;
  gap: 4rem;
  letter-spacing: 0.3rem;
}

.fem {
  font-family: "Roboto";
  color: #FFFFFF;
  letter-spacing: 0.3rem;
  margin-top: 1.1rem;
  margin-left: 2.8rem;
}

.finp {
  height: 2.2rem;
  width: 24.5rem;
  margin-left: 2.8rem;
  margin-top: 0.5rem;
  border: none;
}

.ficons {
  margin-left: 2.8rem;
  display: flex;
  gap: 5.1rem;
  margin-top: 3rem;
}

.fotp {
  font-family: "Inter";
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
}

.cnop {
  width: 10.75rem;
  height: 2rem;
  background-color: #7a0000;
  margin-top: 1.5rem;
  margin-left: 2.8rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 4.1rem;
}

.pod {
  width: 80rem;
  height: 17.8rem;
  margin-top: 7.8rem;
  background-color: #000000;
}

.links {
  display: flex;
  justify-content: left;
  gap: 13.1rem;
  margin-left: 2.8rem;
}

.shoph {
  font-family: "Inter";
  font-weight: bold;
}

.ssi {
  margin-top: 1.5rem;
  font-weight: normal;
}

.pl {
  font-weight: normal;
  margin-top: 3rem;
  display: flex;
  justify-content: left;
  gap: 12.5rem;
  font-family: "Inter";
  margin-left: 2.8rem;
}

/* ========== АДАПТАЦИЯ ПОД IPHONE 12 ========== */
@media screen and (max-width: 390px) {
  /* Общие настройки */
  html {
    font-size: 14px; /* Уменьшаем базовый шрифт */
  }
  
  section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  /* Шапка */
  header {
    height: auto;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 0;
  }
  
  .logo {
    margin-left: 0;
    margin-top: 0;
  }
  
  .scr {
    width: 100%;
    max-width: 200px;
  }
  
  .corzina {
    margin-right: 0;
  }
  
  /* Поиск */
  .search {
    width: 100%;
    margin-top: 0.3rem;
  }
  
  .btn {
    height: 2rem;
    width: 2.3rem;
  }
  
  /* Навигация */
  nav {
    gap: 1rem;
    margin-left: 0;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
  }
  
  /* Контент */
  .t1 {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
  }
  
  .t2 {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  
  .t22 {
    width: 100%;
    margin-top: 0;
  }
  
  .img67 {
    height: auto;
    max-width: 100%;
    margin-top: 2rem;
  }
  
  .shardone {
    margin-left: 0;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* Новинки */
  .nlt {
    margin-left: 0;
    font-size: 1rem;
  }
  
  .newli {
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .textlt {
    width: 100%;
    height: auto;
    margin-right: 0;
    gap: 0.5rem;
  }
  
  /* Винис */
  .vinis {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .lermite {
    left: 1rem;
    bottom: 0.5rem;
  }
  
  /* Цены и корзина */
  .pric_carz {
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .price {
    margin-right: 0;
  }
  
  .basket {
    padding: 0.3rem 1rem;
    text-align: center;
  }
  
  /* Малый блок */
  .smal {
    margin-left: 0;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .tire {
    margin-left: 1rem;
  }
  
  /* Шаблон */
  .shablbl {
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 0;
    gap: 1rem;
  }
  
  .txshb {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    gap: 0.5rem;
  }
  
  .zagsh {
    font-size: 1.2rem;
  }
  
  .odc {
    width: 100%;
    height: auto;
  }
  
  /* Итоги */
  .itg {
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 0;
    gap: 1rem;
  }
  
  .txitg {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    gap: 1rem;
  }
  
  .itogi {
    font-size: 1.2rem;
  }
  
  /* Статистика */
  .stats {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  
  .Wi {
    font-size: 2rem;
    margin-left: 0;
  }
  
  .txst,
  .txstt,
  .txsta,
  .txstaa {
    font-size: 1.2rem;
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .readst {
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
  }
  
  /* Футер */
  .foot {
    width: 100%;
    margin-top: 2rem;
  }
  
  .pod {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
  }
  
  .fsub {
    margin-top: 1rem;
    margin-left: 0;
    gap: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .fem {
    margin-top: 1rem;
    margin-left: 0;
  }
  
  .finp {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
  }
  
  .ficons {
    margin-left: 0;
    gap: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cnop {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
  
  .links {
    flex-direction: column;
    gap: 1rem;
    margin-left: 0;
  }
  
  .ssi {
    margin-top: 0.5rem;
  }
  
  .pl {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 0;
  }
  
  .fotp {
    font-size: 0.8rem;
  }
  
  .footer {
    padding-bottom: 2rem;
  }
}

/* Для очень маленьких экранов */
@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}